@font-face {
  font-family: Raleway;
  src: url(./Raleway/static/Raleway-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway/static/Raleway-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway/static/Raleway-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway/static/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(./Raleway/static/Raleway-Bold.ttf);
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
  color: var(--text);
  background-color: var(--background-primary);
}

h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'Raleway';
}

:root {
  --text: #D7DBE7;
  --background-primary: #060B1C;
  --background-secondary: #0D1736;
  --background-code: #1E1F24;
  --text-code: #00DEDE;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--background-primary);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

a {
  color: var(--text);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

a:hover {
  border-bottom: 1px solid;
}

.buttonPrimary {
  text-decoration: none;
  background-color: #00A8CB;
  font-weight: 600;
  color: var(--text);
  border: none;
  border-radius: 2px;
  width: 100px;
  height: 25px;
  font-family: 'Raleway';
  cursor: pointer;
}

label {
  font-family: 'Raleway';
  color: var(--text);
  font-weight: 600;
}

input {
  background-color: var(--background-primary);
  border: none;
  border-radius: 2px;
  height: 25px;
  width: 225px;
}
